<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
  <div class="container" style="margin-top: 10rem;">
                <div class="col-lg-12 login-title">
                    ADD HOST
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form action="/AddMember" method="post">
                            <div class="form-group">
                                <label class="form-control-label" for="user">Host</label>
                                <input type="text" id="host" name="host" class="form-control" placeholder="Host" required>
                            </div>

                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="col-lg-6 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary">Add Host</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
        </div>

</body>
<script>
    let sub = document.querySelector("form")
    let host = document.querySelector('#host')
    sub.onsubmit = (e)=>{
        e.preventDefault()
        fetch('./AddMember?host='+host.value,{
            method: 'post'
        }).then(res=>{
            if(res.status === 200){
                host.value = "Host Added."
            }else if(res.status == 201){
                host.value = "HOST ALREADY EXIST."
            }
        })
    }
</script>
</html>
    

